/hlsdownloader

/rtmp2webrtc/rtmp2webrtc

/thirdparty/x264-master
/thirdparty/x265-master
/thirdparty/opus-1.3.1
/thirdparty/fdk-aac-2.0.2
/thirdparty/FFmpeg-n4.4
/thirdparty/mod_ffmpeg_to_support_rtmp_hevc
/thirdparty/output

/dump
/pkg
/app
/logs

/lalc/output/
lalc/cmake-build-debug/
/lalcc/.cache
/lalcc/output
/lalcc/CMakeCache.txt
/lalcc/CMakeFiles
/lalcc/Makefile
/lalcc/Testing
/lalcc/bin
/lalcc/cmake-build-debug
/lalcc/cmake_install.cmake
/lalcc/compile_commands.json
/lalcc/lalcc_demo.cbp

.idea

/test.sh

/outRecord.h264
/*.ivf
/*.ogg
/*.h264
/*.flv
/*.mp4
/*.m3u8
/*.ts

~*
# Stupid macOS temporary files

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


Icon?

# Thumbnails
._*
nohup.out

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Stuff from the Nova editor
.nova
node_modules
package.json
package-lock.json
.eslintrc.yml
.prettierrc.json